name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run API Tests
        env:
          APP_ID: 63a804408eb0cb069b57e43a
        run: ./gradlew clean apiTest

      - name: Run Web Tests (Xvfb)
        run: xvfb-run -a ./gradlew clean webTest

      - name: Upload Cucumber Reports (HTML & JSON)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-reports
          path: |
            build/reports/cucumber/*.html
            build/reports/cucumber/*.json
            build/reports/tests/**/*
          if-no-files-found: warn
