name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run API Tests
        env:
          APP_ID: 63a804408eb0cb069b57e43a
        run: ./gradlew clean apiTest

      - name: Run Web Tests (xvfb)
        run: xvfb-run -a ./gradlew clean webTest

      - name: Upload Cucumber Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-reports
          path: build/reports/cucumber/*
          if-no-files-found: warn
